/ Navigation
%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    %a.navbar-brand{:href => "#"} RubyGems
    %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item.active
          %a.nav-link{:href => "#"}
            ActiverecordImport
            %span.sr-only (current)

/ Page Content
.container
  .row
    .col-lg-4.text-center
      %h1.mt-5 Demo
    .col-lg8
      %br
      %p.lead 
        Click "Start Now" to see the performance difference.
        %br
        %a{href: @github_link}=@github_link
      %ul.list-unstyled
        %li Version: v1.0.1
        %li Last Updated: 26th Mar 2019
      

  .row
    .col-lg-6
      .card
        .card-block{style: "padding:20px;min-height:200px"}
          %h3.card-title Test Design
          %p.card-text Write 2000 rows using / without using #{content_tag(:strong, 'activerecord-import')} respectively.
          %a.btn.btn-primary{href: batch_create_path, data: {method: :post,  disable_with: "Running..."} }
            Start Now
    .col-lg-6
      .card
        .card-block{style: "padding:20px;min-height:200px"}
          %h3.card-title Result
          %p.card-text 
            -if flash[:notice].present?
              .alert.alert-success{:role => "alert"}
                %strong Completed!
                %p= flash[:notice].html_safe      
            -else
              .alert.alert-info{:role => "alert"}
                %strong Not yet start!
                %p Please click the button at the left hand side.
